<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ctrlr</title>

  <link rel="stylesheet" href="content/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="content/css/app.css">
  <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One|Droid+Sans+Mono|Droid+Sans' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
<body ng-app="ctrlrApp" ng-cloak>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ctrlr</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>-->
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>
    <div class="container" ng-controller="homeController">
        <div class="row">
           <div class="col-md-6 main-content">
                <div class="panel panel-primary">
                    <div class="panel-heading"><span class="fa fa-plus pull-right"></span><span class="fa fa-minus pull-right"></span>Temperature</div>
                    <div class="panel-body">
                        <highchart config="thermometerChartConfig"></highchart>
                        <span class="temperature">{{temperature.value}}&deg;C</span>
                        <pre>last updated: {{temperature.timestamp | date: 'dd/MM HH:mm:ss'}}</pre>
                    </div>
                </div>
                 <div class="panel panel-primary">
                    <div class="panel-heading"><span class="fa fa-sun-o pull-right"></span>Brightness</div>
                    <div class="panel-body">                       
                        <div class="userFriendlyBrightness">
                            <span class="fa {{brightness.value | userFriendlyBrightnessIcon}}"></span>
                            <span>The room is {{brightness.value | userFriendlyBrightness}}</span>
                        </div>
                        <span class="brightness">{{brightness.value}} / 1023</span>
                        <pre>last updated: {{brightness.timestamp | date: 'dd/MM HH:mm:ss'}}</pre>
                    </div>
                </div>
                <div class="panel panel-primary proximity">
                    <div class="panel-heading"><span class="fa fa-eye pull-right"></span>Is anybody there?</div>
                    <div class="panel-body">
                        <span class="label label-success animate-show" ng-hide="proximity.value">No one there...</span>
                        <span class="label label-danger animate-show" ng-show="proximity.value">Someone is there!</span>                   
                        <pre>last updated: {{proximity.timestamp | date: 'dd/MM HH:mm:ss'}}</pre>
                    </div>
                </div>
            </div>
             <div class="side-content col-md-6">               
                <div class="panel panel-primary">
                    <div class="panel-heading"><span class="fa fa-plus pull-right"></span><span class="fa fa-minus pull-right"></span>Temperature log</div>
                    <div class="panel-body">                        
                        <highchart config="temperatureChartConfig"></highchart>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading"><span class="fa fa-sun-o pull-right"></span>Brightness log</div>
                    <div class="panel-body">                        
                         <highchart config="brightnessChartConfig"></highchart>
                    </div>                    
                </div>
                <div class="panel panel-primary lightswitch">
                    <div class="panel-heading"><span class="fa fa-power-off pull-right"></span>Lightswitch</div>
                    <div class="panel-body">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success" ng-model="lightToggle" btn-radio="true">On</button>
                            <button type="button" class="btn btn-danger" ng-model="lightToggle" btn-radio="false">Off</button>
                        </div>
                    </div>
                </div>
            </div>           
        </div>      
    </div> <!-- /container -->
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="vendor/bootstrap.min.js"></script>
    <script src="vendor/underscore-min.js"></script>
    <script src="vendor/moment.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="vendor/ui-bootstrap-0.9.0.min.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
    <script src="vendor/highcharts-ng.min.js"></script>
    <script src="vendor/highcharts-all.js"></script>
    <script src="app/ctrlrApp.js"></script>
    <script src="app/controllers/homeController.js"></script>
    <script src="app/filters/transportType.js"></script>
    <script src="app/services/travelService.js"></script>
    <script src="app/services/automatrService.js"></script>
    <script src="app/services/chartService.js"></script>
    <script src="app/filters/userFriendlyBrightness.js"></script>
    <script src="app/filters/userFriendlyBrightnessIcon.js"></script>
</body>
</html>
