#map-canvas {
	margin-bottom: 15px;
	height:500px
}

.main-content {
    margin-top: 75px;
}

.status-content {
    margin-top: 75px;
}

.status-content .temprature {
    font-size: 4em;
}

.brightness {
	font-size: 4em;
}

.lightswitch .btn {
    width: 100%
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }